{{#header}}
<div class="row">
  <div class="col-xs-8"><h3><a href="{{ index }}"><strong>{{blogName}}</strong></a></h3></div>
  <div id="account" class="col-xs-4 pull-right"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="links"> 
      <a href="{{index}}"><span class="glyphicon glyphicon-home"></span></a> 
        {{#doctypes}}
          | <a href="{{doctype_link}}"> {{doctype_name}} </a> 
        {{/doctypes}}
        <!--Material Samples | Counting Results | Monte Carlo  -->
        | <a href="../../_show/calc/"> Background Calculation </a> | <span class="glyphicon glyphicon-search"></span> 
    </div>
  </div>
</div>
{{/header}}
