<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.js"></script>
<script src="/_utils/script/jquery.couch.js"></script>
<script src="/_utils/script/jquery.form.js"></script>
<script src="/_utils/script/sha1.js"></script>
<script src="/_utils/script/base64.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.js"></script>
<script src="../../vendor/couchapp/jquery.couch.app.util.js"></script>
<script src="../../vendor/couchapp/jquery.evently.js"></script>
<script src="../../vendor/couchapp/jquery.mustache.js"></script>
<script src="../../script/app.js"></script>
<script src="../../script/md5.js"></script>

<!--
<script src="../../script/jquery-ui.js"></script>
<link rel="stylesheet" href="../../style/jquery-ui.css"></script>
<script src="../../script/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../style/bootstrap.min.css">
-->

<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

<!--
<script src="../../script/dropzone.js"></script>
<link rel="stylesheet" href="../../style/dropzone.css"></script>
-->
