<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} : {{ blogName }}</title>
  </head>
  <body>
    <div class="container-fluid">
      {{>header}}
      <div class="row">
        <div class="col-sm-12">
          <h3>{{ title }}</h3>
        </div>
      </div>
      <div id="fields"></div>
      <!-- Old begin: <hr>
      {{#fields}}
        <div class="row">
          <div class="col-sm-12">
            {{label}}: {{value}}
          </div>
        </div>
      {{/fields}}
     <hr> Old end. -->
      Attachments:
      {{#attachments}}
      <div class="row">
        <div class="col-sm-12">
           <a href="../../../../{{post_id}}/{{.}}"> {{.}} </a>
        </div>
      </div>
      {{/attachments}}
      <div class="row">
        <div class="col-sm-12">
          Tags: {{tags}}
        </div>
      </div>
      {{>footer}}
    </div>    
  </body>
  {{>scripts}}
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      app.post_id = "{{post_id}}";
      $("#profile").evently($.extend(true, {}, app.ddoc.vendor.couchapp.evently.profile, app.ddoc.evently.profile), app);
      $.evently.connect($("#account"), $("#profile"), ["loggedIn", "loggedOut"]);

      function displayField(field,values){
        html = '';

        // Skip the field if field type is not defined
        if(!field.type[0]){
          return html;
        }
        //html += '<div class="row">' + 
        //                  '<div class="col-sm-12"> <label class="text-right">' + field.label + '&nbsp;:&nbsp;</label>';
                           //+'</div>' + '<div class="col-sm-6">';
        html += '<li><label class="text-right">' + field.label + '&nbsp;:&nbsp;</label>';
        // Text and date
        if(field.type[0] == "text" || field.type[0] == "date"){
          html += values[field.label];//  '<input type="'+ field.type[0] +'" size="50" name="'+field.label+'" value="'+'"></div></div></div>';

        // Document
        }else if(field.type[0] == "document"){
          html += values[field.label];//  '<input type="'+ field.type[0] +'" size="50" name="'+field.label+'" value="'+'"></div></div></div>';
          //html +='<input type="'+ field.type[0] +'" size="50" name="'+field.label+'" value="'+'">'+
          //                         '<div name="'+ field.label +'-button"></div></div></div></div>';

        // Textarea
        }else if(field.type[0] == "textarea"){
          html += values[field.label];//  '<input type="'+ field.type[0] +'" size="50" name="'+field.label+'" value="'+'"></div></div></div>';
          //html +='<textarea name="' + field.label + '" rows="10" cols="80"></textarea>';

        // Radio
        }else if(field.type[0] == "radio"){
          html += field.options[values[field.label]];

        // Checkbox
        }else if(field.type[0] == "checkbox"){
          var checked = [];
          for(var j = 0; j < values[field.label].length; j++){
            checked.push(field.options[values[field.label]]);
          }
          html += checked.join(' ,');

        // Subform
        }else if(field.type[0] == "subform"){
          fields = field.fields;
          html += '<ul>';
          for(var i = 0; i < fields.length; i++){
            html += displayField(fields[i],values[field.label]);
          }
          html += '</ul>';
        }
        html += '</li>';//'</div></div>';
        return html;
      } // end function: generate field html
    
      // Main 
      var postDoc = {{{doc}}};

      // Generate form
      $('#fields').html('');
      var fields = app.ddoc.doctypes[postDoc.doctype].fields;
      for(var i = 0; i < postDoc.fields.length; i++){
        $('#fields').append('<ul>'+displayField(postDoc.fields[i],postDoc.values)+'</ul>');
      }
    });

  </script>
</html>
