<!DOCTYPE html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <div class="container-fluid">
      {{>header}}
      <div class="row">
        <!-- form to create a post -->
        <div class="col-sm-9">
          <h3 id="pageTitle">{{pageTitle}}</h3>
          <form role="form" id="new-post" action="new.html" method="post">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="doctype">Select document type</span> <span class="caret"></span>
              </button>
              <ul id="doctype-dropdown" class="dropdown-menu" role="menu"> </ul>
            </div>
            <hr>
            <input type="hidden" size="50" id="_id" name="_id" value="">
            <input type="hidden" size="50" id="_rev" name="_rev" value="">
            <div class="row">  
              <div class="col-sm-12">
                <dl class="dl-horizontal"> 
                  <div class="form-group">
                    <dt> <label class="text-right">Title </label> </dt>
                    <dd> <input type="text" size="50" id="Title" name="Title" value=""> </dd>
                  </div>
                  <div id="form-fields"> </div>
                  <div class="form-group">
                    <dt> <label for="tags">Click tags to add them. (split by ',')</label> </dt>
                    <dd> <input size="50" type="text" name="tags" value="{{tags}}"> </dd>
                  </div>
                  <div class="form-group">
                    <dt> <label for="_attachments">Attach files:</label> </dt>
                    <dd> <input type="file" name="_attachments" id="_attachments" multiple="multiple" /></dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3" id="show-delete"> </div>
              <div class="col-sm-3" id="show-confirm-delete"></div>
              <div class="col-sm-3">
              <!--  <button id="preview" type="button" class="btn btn-default">Preview</button> -->
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Save &rarr;</button> 
              </div>
              <span id="saved" style="display:none;">Saved</span>
            </div>
          </form>
          <!-- <a target="_new" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown help</a>  -->
          <!-- <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form> -->
        </div> 
        <div class="col-sm-3">
          <div id="tagcloud"></div>
        </div> 
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="show-preview"></div>
        </div>
      </div>
      {{>footer}}
    </div>
  </body>
  {{>scripts}}
  <script src="../../script/jquery.scrollTo.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      var path = app.require("vendor/couchapp/lib/path").init(app.req);
      var postForm, blog = app.require("lib/blog");
      var ddoc = this.ddoc;

      // Extend the tagcloud so that clicks add tags to the current post ()
      var tagcloud = $.extend(true, {}, this.ddoc.evently.tagcloud, {
        _init : {
          selectors : {
            a : {
              click : function() {
                var tag = $(this).text();
                var tags = $("input[name=tags]").val();
                if (tags) tags = tags+", ";
                $("input[name=tags]").val(tags + tag);
                return false;
              }
            }
          }
        }
      });
      $("#tagcloud").evently(tagcloud, this);

      // Create doctype dropdown menu
      var dropdownHtml = "";
      for (var key in this.ddoc.doctypes) {
        if (this.ddoc.doctypes.hasOwnProperty(key)) {
          //dropdownHtml += '<li><a href="#" id="doctype-'+ key.replace(/ /g,'')+ '">'+ key+ '</a></li>';
          dropdownHtml += '<li><a href="#" id="doctype-'+ key + '">'+ this.ddoc.doctypes[key].name + '</a></li>';
        }
      }
      $("#doctype-dropdown").html(dropdownHtml);
      
      // Function for generating one input field
      function generateInput(field){
        var html = '';
        // Skip the field if field type is not defined
        if(!field.type[0]){
          return html;
        }
        
        // Text and date
        if(field.type[0] == "text" || field.type[0] == "date"){
          html +='<input type="'+ field.type[0] +'" size="50" name="'+field.label+'" value="">';//</div></div></div>';

        // Document
        }else if(field.type[0] == "document"){
          html +='<input type="'+ field.type[0] +'" size="50" name="'+field.label+'" value="'+'">';//+
                                   //'<div name="'+ field.label +'-button"></div>';//</div></div></div>';

          // Enable auto complete
          app.db.query(function(doc){ 
                          //log('type:'+field.type[1])
                            emit(doc.doctype,doc.title);
                        }, null, "javascript",{   
                          label : field.label,
                          startkey : field.type[1],
                          endkey : field.type[1],
                          success : function(data){
                            //console.log(JSON.stringify(data));
                            var autocompleteList = [];
                            for(var j = 0; j < data.rows.length; j++){
                              autocompleteList.push({label: data.rows[j].value, value: data.rows[j].id});
                            }
                            //console.log(JSON.stringify(autocompleteList));
                            //console.log('f='+fields);
                            //console.log('i='+i);
                            //$('input[name="'+field.label+'"]').autocomplete({ 
                            $('input[name="'+this.label+'"]').autocomplete({ 
                              source: autocompleteList,
                              messages: {
                                          noResults: '',
                                          results: function() {}
                                        }
                            });
                          }
                        });

        // Textarea
        }else if(field.type[0] == "textarea"){
          html +='<textarea name="' + field.label + '" rows="10" cols="80"></textarea>';

        // Checkbox and radio
        }else if(field.type[0] == "checkbox" || field.type[0] == "radio"){
          //fieldsHtml += '<div class="btn-group" data-toggle="buttons">';  //cannot set to active programmatically
          fieldHtml = '';
            for(var j = 0; j < field.options.length; j++){
              fieldHtml +='<label class="btn btn-default">';
              if(field.type[0] == "radio"){
                fieldHtml +='<input type="'+ field.type[0] +'" name="'+field.label+'" id="'+field.label+'-'+field.options[j]+'" value="'+j+'"> '+
                                          field.options[j];
                //console.log( '<input type="'+ field.type[0] +'" name="'+field.label+'" id="'+field.label+'-'+field.options[j]+'" value="'+j+'"> ');
              }else if(field.type[0] == "checkbox"){
                fieldHtml +='<input type="'+ field.type[0] +'" name="'+field.label+'-'+field.options[j]+'"> '+ field.options[j];
              }
              fieldHtml +='</label>';
            };
            //fieldsHtml += '</div></div></div></div>';
            //fieldHtml +='</div></div></div>';
            html +=fieldHtml;
        }else if(field.type[0] == "subform"){
          fields = field.fields;
          html += '&nbsp;</dd>';
          for(var i = 0; i < fields.length; i++){
            html += generateFieldHtml(fields[i]);
          }
        }
        return html;
      }

      // Function for generating one field in the form
      function generateFieldHtml(field){
        var html = '';

        // Skip the field if field type is not defined
        if(!field.type[0]){
          return html;
        }

        // Generate label
        html += //'<div class="row">' + 
                        '<div class="form-group">'+
                          //'<div class="col-sm-12"> <label class="text-right">' + field.label + '</label> </div>' + 
                          //'<div class="col-sm-12">';
                          '<dt>' + field.label + '</dt><dd>'+ 
                          '<div id="'+field.label+ '-main">';

        // Generate input
        html += generateInput(field);
        //console.log(generateInput(field));

        // Add array button
        if(field.array){
          html += '<button type="button" class="btn btn-xs btn-default" id="'+field.label+'-array-add"><span class="glyphicon glyphicon-plus"></span></button>'
        }

        html += '</div></dd></div>';
        return html;
      } // end function: generate field html

      // Generate form when doctype dropdown menu buttons are clicked 
      for (var key in this.ddoc.doctypes) {
        if (this.ddoc.doctypes.hasOwnProperty(key)) {
          $('#doctype-'+key).click(function(){
            thiskey = this.id.replace('doctype-','');
            $("#doctype").html(ddoc.doctypes[thiskey].name);

            // Generate form
            $('#form-fields').html('');
            var fields = ddoc.doctypes[thiskey].fields;
            var clickResponse = function(field){ return function (){
              $('div[id="'+field.label+'-main"]').append(generateInput(field));
            }};
            for(var i = 0; i < fields.length; i++){
              $('#form-fields').append('<dl class="dl-horizontal">'+generateFieldHtml(fields[i])+'</dl>');
              if(fields[i].array){
                $('button[id="'+fields[i].label+'-array-add"]').click(clickResponse(fields[i]));
              }
            }
 
            // Put form onto page
            //$('#form-fields').html(fieldsHtml);

          })
        }
      }

      var postDoc = {{{doc}}};
      var prevRev = JSON.stringify(postDoc);

      // Save document on Submit
      //$('label[for=body]').append(' <em>with '+(postDoc.format||'html')+'</em>');
      $("form#new-post").submit(function(e) {

        // Prevent submit because we will use ajaxSubmit()
        e.preventDefault();

        // Transfer data from a field in the form to doc object
        function writeFieldToDoc(field,values){
          if(field.type[0] == 'radio'){
            values[field.label] = -1;
            for(var j = 0; j < field.options.length; j++){
              values[field.label] = $('input[id="'+field.label+'-'+field.options[j]+'"]:checked').val() ? j : values[field.label];
            }
          }else if (field.type[0] == 'checkbox'){
            values[field.label] = [];
            for(var j = 0; j < field.options.length; j++){
              values[field.label].push($('input[name="'+field.label+'-'+field.options[j]+'"]:checked').val() ? true : false);
            }
          }else if (field.type[0] == 'textarea'){
            values[field.label] = $('textarea[name="'+ field.label +'"]').val();
          }else if (field.type[0] == 'subform'){
            values[field.label] = {};
            for(var i = 0; i < field.fields.length; i++){
              writeFieldToDoc(field.fields[i],values[field.label]);
            }
          }else{
            var inputs = $('input[name="'+field.label+'"]')
            //console.log(inputs);
            if(field.array){
              values[field.label] = [];
              for(var i = 0; i < inputs.length; i++){
                if(inputs[i].value){
                  values[field.label].push(inputs[i].value);
                }
              }
            }else{
              values[field.label] = $('input[name="'+field.label+'"]').val();
            }
          }
        }

        // Transfer data from form to doc object
        var key =  blog.slugifyString($("#doctype").text()).toLowerCase();
        //console.log('key='+key);
        postDoc.author = $$("#account").userCtx.name;
        postDoc.last_edited_by = postDoc.author;
        postDoc.doctype = key;
        postDoc.title = $("input[name=Title]").val();

        //postDoc.fields = ddoc.doctypes[key].fields;
        if(!postDoc.values){ 
          postDoc.values = {};
        }
        for(var i = 0; i < ddoc.doctypes[key].fields.length; i++){
          writeFieldToDoc(ddoc.doctypes[key].fields[i],postDoc.values)
        }

        var dtags = [], tags = $("input[name=tags]").val().split(",");
        for(var i in tags) {
          if(tags[i]) dtags.push($.trim(tags[i]));
        }
        postDoc.tags = dtags;
        if (!postDoc.created_at) {
          postDoc.created_at = new Date();
        }
        if (!postDoc._id) {
          // Custom doc id goes here
          //postDoc._id = blog.slugifyString(postDoc.title);
        }else{
          postDoc.last_edited_by = $$("#account").userCtx.name;
          postDoc.last_edited_at = new Date();
          postDoc._attachments = postDoc._attachments || {};
          var attname = "#rev-"+postDoc._rev.split("-")[0];
          postDoc._attachments[attname] = {content_type :"application/json", data : Base64.encode(prevRev)};
        }
        //console.log(postDoc);

        // Save doc to couchdb
        app.db.saveDoc(postDoc, {
          success : function(resp) {
            //alert(""+JSON.stringify(resp));
            $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(6000);
            $('#pageTitle').html('Editing <a href="'+path.show('post',resp.id)+'">'+resp.id+'</a> by '+postDoc.author);
            //console.log(JSON.stringify($('#_attachments').val()));
            // $('input#_attachments').files
            if($('input#_attachments').val().length > 0){
              $('#_id').val(resp.id);
              $('#_rev').val(resp.rev);
              $('form#new-post').ajaxSubmit({
                // Submit the form with the attachment
                url: '/' + app.db.name + '/' + resp.id,
                success: function(response) {
                  //alert("Your attachment was submitted.")
                }
              })
            }
          }
        });

        return false;
      });

      // If document already exists, i.e. it's now being edited
      if (postDoc._id) {

        // Fill in one field with existing data in db
        function readFieldFromDoc(field,values){
          if(field.type == 'radio'){
            $('input[id="'+ field.label +'-'+ field.options[values[field.label]] +'"]').prop('checked',true);
          }else if (field.type == 'checkbox'){
            for(var j = 0; j < field.options.length; j++){
              $('input[name="'+field.label+'-'+field.options[j]+'"]').prop('checked',values[field.labal][j]);
            }
          }else if (field.type == 'textarea'){
            $('textarea[name="'+ field.label +'"]').val(values[field.label]);
          }else if (field.type == 'subform'){
            for(var i = 0; i < field.fields.length; i++){
              readFieldFromDoc(field.fields[i],values[field.label]);
            }
          }else{
            if(field.array){
              var savedData = values[field.label]; // data in DB, which should be an array
              for(var i = 0; i < savedData.length; i++){
                $('button[id="'+field.label+'-array-add"]').click();
              }
              var inputs = $('input[name="'+field.label+'"]');
              for(var i = 0; i < savedData.length; i++){
                inputs[i].value = values[field.label][i];
              }
            }else{
              //console.log(values);
              //console.log(field.label);
              $('input[name="'+field.label+'"]').val(values[field.label]);
            }
          }
        }

        // Fill in the form with existing data
        $('#doctype-'+postDoc.doctype).click();
        $('input[name=Title]').val(postDoc.title);
        for(var i = 0; i < ddoc.doctypes[postDoc.doctype].fields.length; i++){
          readFieldFromDoc(ddoc.doctypes[postDoc.doctype].fields[i],postDoc.values);
        }

        // Delete and confirm delete 
        $('#show-delete').html(' <button class="btn btn-default" type="button" id="delete"> Delete Post </button> ');
        $("#delete").click(function() {
          var html = ' <button type="button" id="confirm-delete" class="btn btn-danger">Confirm Delete</button> '; 
          $('#show-confirm-delete').html(html);
            $("#confirm-delete").click(function() {
              app.db.removeDoc(postDoc, {
                success : function(resp) {
                  $("#pageTitle").text("Deleted "+resp.id);
                  $('form#new-post input').attr('disabled', true);
                }
              });
              return false;
            });
          return false;
        });
      }

      /*// Preview
      $("#preview").click(function() {
        var markdown = app.require("vendor/couchapp/lib/markdown");
        var html = markdown.encode($("textarea[name=description]").val());

        $('#show-preview').html(html);
        $('description').scrollTo('#show-preview', {duration: 500});
      }); //*/

    });
  </script>
</html>
