<!DOCTYPE html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    <!-- <link rel="stylesheet" href="{{ assets }}/style/screen.css" type="text/css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      {{>header}}
      <div class="row">
        <!-- form to create a post -->
        <div class="col-sm-9">
          <h3>{{pageTitle}}</h3>
          <form role="form" id="new-post" action="new.html" method="post">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="doctype">Select document type</span> <span class="caret"></span>
              </button>
              <ul id="doctype-dropdown" class="dropdown-menu" role="menu"> </ul>
            </div>
            <hr>
            <div class="row">  
              <div class="form-group">
                <div class="col-sm-12">  
                 <label class="text-right">Title </label>  
                </div>  
                <div class="col-sm-12">  
                  <input type="text" size="50" name="Title" value="">
                </div> 
              </div>
            </div>
            <div id="form-fields"> </div>
  <!--
            <div class="form-group">
              <label>Description</label>
              <textarea name="description" rows="10" cols="80">description</textarea>
            </div>
-->
            <div class="row">
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="tags">Click tags to add them. (split by ',')</label>
                </div>
                <div class="col-sm-12">
                  <input size="50" type="text" name="tags" value="{{tags}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3" id="show-delete"> </div>
              <div class="col-sm-3" id="show-confirm-delete"></div>
              <div class="col-sm-3">
              <!--  <button id="preview" type="button" class="btn btn-default">Preview</button> -->
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Save &rarr;</button> 
              </div>
              <span id="saved" style="display:none;">Saved</span>
            </div>
          </form>
          <!-- <a target="_new" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown help</a>  -->
        </div> 
        <div class="col-sm-3">
          <div id="tagcloud"></div>
        </div> 
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="show-preview"></div>
        </div>
      </div>
      {{>footer}}
    </div>
  </body>
  {{>scripts}}
  <script src="../../script/jquery.scrollTo.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      var path = app.require("vendor/couchapp/lib/path").init(app.req);
      var postForm, blog = app.require("lib/blog");
      var ddoc = this.ddoc;

      // extend the tagcloud so that clicks add tags to the current post ()
      var tagcloud = $.extend(true, {}, this.ddoc.evently.tagcloud, {
        _init : {
          selectors : {
            a : {
              click : function() {
                var tag = $(this).text();
                var tags = $("input[name=tags]").val();
                if (tags) tags = tags+", ";
                $("input[name=tags]").val(tags + tag);
                return false;
              }
            }
          }
        }
      });

      // Create doctype dropdown menu
      var dropdownHtml = "";
      for (var key in this.ddoc.doctypes) {
        if (this.ddoc.doctypes.hasOwnProperty(key)) {
          //dropdownHtml += '<li><a href="#" id="doctype-'+ key.replace(/ /g,'')+ '">'+ key+ '</a></li>';
          dropdownHtml += '<li><a href="#" id="doctype-'+ key + '">'+ this.ddoc.doctypes[key].name + '</a></li>';
        }
      }
      $("#doctype-dropdown").html(dropdownHtml);
      
      // onClick response for dropdown menu buttons
      for (var key in this.ddoc.doctypes) {
        if (this.ddoc.doctypes.hasOwnProperty(key)) {
          $('#doctype-'+key).click(function(){
            thiskey = this.id.replace('doctype-','');
            $("#doctype").html(ddoc.doctypes[thiskey].name);
            // Generate form
            var fieldsHtml = '';
            var fields = ddoc.doctypes[thiskey].fields;
            for(var i = 0; i < fields.length; i++){
              fieldsHtml += '<div class="row">' + 
                              '<div class="form-group">'+
                                '<div class="col-sm-12">' + 
                                 '<label class="text-right">' + fields[i].label + '</label>' + 
                                '</div>' + 
                                '<div class="col-sm-12">' + 
                                  '<input type="text" size="50" name="'+fields[i].label+'" value="'+'">'+
                                '</div>' +
                              '</div>'+
                            '</div>';
            }
            $('#form-fields').html(fieldsHtml);
          })
        }
      }

      $("#tagcloud").evently(tagcloud, this);
      var postDoc = {{{doc}}};
      var prevRev = JSON.stringify(postDoc);
      console.log("XXX:"+prevRev);

      // Save document onSubmit
      //$('label[for=body]').append(' <em>with '+(postDoc.format||'html')+'</em>');
      $("form#new-post").submit(function() {
        var key =  blog.slugifyString($("#doctype").text()).toLowerCase();
        postDoc.author = $$("#account").userCtx.name;
        postDoc.last_edited_by = postDoc.author;
        postDoc.doctype = key;
        postDoc.fields = ddoc.doctypes[key].fields;
        postDoc.title = $("input[name=Title]").val();
        for(var i = 0; i < postDoc.fields.length; i++){
          postDoc.fields[i].value = $('input[name="'+postDoc.fields[i].label+'"]').val();
        }
//        postDoc.description = $("textarea[name=description]").val();
        var dtags = [], tags = $("input[name=tags]").val().split(",");
        for(var i in tags) {
          dtags.push($.trim(tags[i]));
        }
        postDoc.tags = dtags;
        if (!postDoc.created_at) {
          postDoc.created_at = new Date();
        }
        if (!postDoc._id) {
          postDoc._id = blog.slugifyString(postDoc.title);
        }else{
          postDoc.last_edited_by = $$("#account").userCtx.name;
          postDoc.last_edited_at = new Date();
          postDoc._attachments = postDoc._attachments || {};
          var attname = "#rev-"+postDoc._rev.split("-")[0];
          postDoc._attachments[attname] = {content_type :"application/json", data : Base64.encode(prevRev)};
        }
        app.db.saveDoc(postDoc, {
          success : function(resp) {
            $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(6000);
            $('h1').html('Editing <a href="'+path.show('post',resp.id)+'">'+resp.id+'</a> by '+postDoc.author);
          }
        });
        return false;
      });

      // If document already exists, i.e. it's now being edited
      if (postDoc._id) {
        console.log('document already exists'); 
        // Fill in the form with existing data
        $('#doctype-'+postDoc.doctype).click();
        $('input[name=Title]').val(postDoc.title);
        for(var i = 0; i < postDoc.fields.length; i++){
          $('input[name="'+postDoc.fields[i].label+'"]').val(postDoc.fields[i].value);
        }

        // Delete and confirm delete 
        $('#show-delete').html(' <button class="btn btn-default" type="button" id="delete"> Delete Post </button> ');
        $("#delete").click(function() {
          var html = ' <button type="button" id="confirm-delete" class="btn btn-danger">Confirm Delete</button> '; 
          $('#show-confirm-delete').html(html);
          //$('#delete').after(html);
            $("#confirm-delete").click(function() {
              app.db.removeDoc(postDoc, {
                success : function(resp) {
                  $("h1").text("Deleted "+resp.id);
                  $('form#new-post input').attr('disabled', true);
                }
              });
              return false;
            });
          return false;
        });
      }

      /*// Preview
      $("#preview").click(function() {
        var markdown = app.require("vendor/couchapp/lib/markdown");
        var html = markdown.encode($("textarea[name=description]").val());
        $('#show-preview').html(html);
        $('description').scrollTo('#show-preview', {duration: 500});
      }); //*/

    });
  </script>
</html>
