<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} : {{ blogName }}</title>
    <!-- <link rel="stylesheet" href="../../style/screen.css" type="text/css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      {{>header}}
      <div class="row">
        <div class="col-sm-12">
          <h3>{{ title }}</h3>
        </div>
      </div>
      {{#fields}}
        <div class="row">
          <div class="col-sm-12">
            {{label}}: {{value}}
          </div>
        </div>
      {{/fields}}
      <div class="row">
        <div class="col-sm-12">
          Tags: {{tags}}
        </div>
      </div>
      {{>footer}}
    </div>    
  </body>
  {{>scripts}}
  <script type="text/javascript" charset="utf-8">
  $.CouchApp(function(app) {
    app.post_id = "{{post_id}}";
    $("#profile").evently($.extend(true, {}, app.ddoc.vendor.couchapp.evently.profile, app.ddoc.evently.profile), app);
    $.evently.connect($("#account"), $("#profile"), ["loggedIn", "loggedOut"]);
  });
  </script>
</html>
